<div id="ListingModal" class="contain-inter">
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        
        
        <h2 style="float:left;"><span>Product Expired List 货品过期记录</span></h2>
        <div style="display: inline;margin-left:250px">  
            <div style="width:100%">

            </div>
            <button nz-button nzType="primary" (click)="init()"  ><i nz-icon nzType="reload"></i>Reload</button>
        </div>
        <div class="divBut" style="float:right">
            <nz-button-group nzSize="small" class="tableBut">
                <button nzType="primary" title="{{tooltipOne[0]}}" nz-button [disabled]="tableEmpty"
                    (click)="printLink()">Print</button>
                <button nzType="primary" title="{{tooltipOne[1]}}" nz-button [disabled]="tableEmpty"
                    (click)="CSVlink()">CSV</button>
                <button nzType="primary" title="{{tooltipOne[2]}}" nz-button [disabled]="tableEmpty"
                    (click)="copyClick()">Copy</button>
            </nz-button-group>
        </div>
    </div>
    <div class="tableShow-area" [style.width]="tableShowWid"  style="height: fit-content;"
        (scroll)="onScroll($event)">
        <!-- <div class="">
            <nz-alert nzBanner nzMessage="Unselect 'Hide Legacy Releases' to check more interoperability." nzCloseable></nz-alert>
        </div> -->
        <div class="tableShow-table">
            <div class="butArea">
                <div [style.height]="'30px'" class="tableTop" >
                    <div class="thLeft" style="width:100%">
                        <a class="columns" style="pointer-events: auto;"
                            [ngStyle]="{'cursor':tableEmpty?'not-allowed':''}" nz-dropdown [nzDisabled]="tableEmpty"
                            nzTrigger="click" [nzDropdownMenu]="menu">
                            <span>
                                Hide Columns
                            </span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="dropDownCls">
                                <div class="Down-header">Show Columns</div>
                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="unCheck($event)">
                                    <div nz-row>
                                        <div *ngFor="let i of ShowColumnData" nz-col nzSpan="24"><label nz-checkbox
                                                [nzValue]="i" [nzDisabled]="i.disabled"
                                                [ngModel]="i.checked">{{i.name}}</label></div>
                                    </div>
                                </nz-checkbox-wrapper>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                </div>
                <nz-table #groupingTable id="PurchaseTable" [nzData]="Purchases" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="false" [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            
                            <ng-container *ngFor="let p of headerdate">
                                <th nzLeft class="firstTh" style="word-wrap: break-word;text-align: center;top: 30px;z-index: 20;position:sticky"
                                    [colspan]="1">
                                    {{p}}
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let p of Purchases, let i =index">
                            <tr> 
                                <td>
                                    <button nz-button nzType="primary" (click)="deletePurchase(i)"  ><i nz-icon nzType="delete"></i></button>
                                </td>
                                <td *ngIf="p.name">
                                    {{p.productCode + p.name}} 
                                </td>  
                                <td *ngIf="!p.name">
                                    {{p.productCode}} 
                                </td>  
                                <td>
                                    {{p.quantity}}
                                </td> 
                                <td class="trDisplayLabel{{i}}">
                                    {{p.expired}}
                                </td>                               
                                <td class="trEditLabel{{i}}" style="display:none">
                                    
                                    <input class="listingeditinput" type="date" [(ngModel)]="p.expired" />
                                    <!-- <input  class="listingeditinput" [(ngModel)]="p.expired" /> -->
                                </td>  
                                <td>
                                    {{p.purchase.date}}
                                </td> 
                                <td>
                                    {{p.purchase.supplier.name}}
                                </td>
                                <td>
                                    <!-- <button nz-button [nzType]="'primary'" (click)="showModal(i)"><span>Details</span></button>
                                    <button nz-button [nzType]="'primary'" (click)="EditModal(i)"><span>Edit</span></button> -->
                                    <button nz-button [nzType]="'primary'" (click)="update(i)"><span>Update</span></button>
                                </td>
                            </tr>    
                        </ng-container>

                    </tbody>
                </nz-table>
                <div id="PurchasePrint" [style.display]="copyType">
                    <table>
                        <tr>
                            <th> </th>
                            <ng-container *ngFor="let productName of headerName">                                
                                <th *ngFor="let release of headerNameArr[productName]">
                                    {{release.productName}} {{release.version}} <span
                                    *ngIf="!release.techGuided||!release.genGuided">*</span>
                                </th>
                            </ng-container>
                        </tr>
                        <tbody>
                            <tr *ngFor="let p of groupingTable.data">
                                <td>{{p.versionName}}                                    
                                    <span *ngIf="!p.techGuided||!p.genGuided">*</span>
                                </td>
                                <ng-container *ngFor="let release of p.releases,let i = index">
                                    <td *ngIf="release.footnotes==undefined" [style.background]="'#d7d7d7'"></td>
                                    <td *ngIf="release.footnotes!=undefined">
                                        <span>{{tableTdWords[release.status]}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tr></tr>
                    </table>
                    <span>* This is a legacy release. For more information, please refer to https://lifecycle.vmware.com.</span>
                </div>
            </div>
        </div>
    </div>
</div>
  
<nz-modal [(nzVisible)]="isModalVisible" nzTitle="Puchase Item" (nzOnCancel)="handleCancel()">
    <div *nzModalContent>
    </div>    
    <div style="padding:5px" style="border-bottom: 2px solid grey;padding: 10px;">
        <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
            <h3 style="float:left;"><span>Product List / 货单</span></h3>
            <div style="float:right">
                <nz-button-group nzSize="small" class="tableBut" >
                    <button nzType="primary" title="{{tooltipOne[0]}}" nz-button 
                    (click)="addItems(item_code,item_quantity,item_unit_cost,item_expired,item_name)">Add Item</button>
                </nz-button-group>
            </div>
        </div>
        <div style="display: flex;width: 100%;">
            <div style="width: 50%;">
                <label class="displayText">Product Code / 货名 :</label>
                <input  [(ngModel)]="item_code" (ngModelChange)="InputChange($event)"  />
                <!-- <nz-button-group nzSize="small" class="tableBut" >
                    <button nzType="primary" title="" nz-button
                        (click)="searchProduct()">Search / 寻找记录</button>
                </nz-button-group> -->
                <nz-select nzShowSearch class="inputWidth"
                    [(ngModel)]="item_index"
                    (ngModelChange)="ItemChange($event)"                    
                    nzPlaceHolder="Select a Solution">
                    <!-- [(ngModel)]="item_index"  -->
                    <ng-container *ngFor="let p of Items; let i = index">Items
                        <nz-option  *ngIf="!ProductLoadSel" [nzValue]="i" [nzLabel]="p.code + '-' + p.name"></nz-option>
                    </ng-container>
                    
                    <nz-option *ngIf="ProductLoadSel" nzDisabled nzCustomContent>
                        <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                    </nz-option>
                </nz-select>
                <!-- <input  [(ngModel)]="item_index" /> -->
                <!-- <nz-button-group nzSize="small" class="tableBut" >
                    <button nzType="primary" title="" nz-button
                        (click)="searchProduct()">Search / 寻找记录</button>
                </nz-button-group> -->
            </div>            
            <div style="width:50%">
                <label class="displayText">Unit Cost / 单价 :</label>
                <div style="float:right;padding-right:5px">RM<input [(ngModel)]="item_unit_cost" /></div>
            </div>
            <div style="width:50%">
                <label class="displayText">Quantity / 数量 ：</label>
                <input  class="inputWidth" [(ngModel)]="item_quantity" />
            </div>
            <div style="width: 100%;">                        
                <label class="displayText">Expired Date / 过期日期 :</label>
                <input  type="date" [(ngModel)]="item_expired" />
            </div>
            <div >
                
            </div>
        </div>
    </div>
    <nz-table [nzData]="PurchaseItems" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="false" [nzNoResult]="emptyTemplate">
    <thead>        
        <tr>
            <ng-container *ngFor="let p of headerColumn">
                <th>
                    {{p}}
                </th>
            </ng-container>
        </tr>
        <!-- <tr>            
            <th>Product Code</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr> -->
    </thead>
        
        <tbody>
            <tr *ngFor="let p of PurchaseItems, let i = index">
                
                <td *ngIf="p.name">
                    {{p.productCode + p.name}} 
                </td>  
                <td *ngIf="!p.name">
                    {{p.productCode}} 
                </td>  
                <td>
                    {{p.quantity}}
                </td> 
                <td>
                    {{p.unitCost}}
                </td> 
                <td>
                    {{p.expired}}
                </td>              
                <td>
                    <button nzType="primary" nz-button 
                    (click)="deleteItem(i)">Delete</button>
                </td>
            </tr>
        </tbody>
        <tr></tr>
    </nz-table>
    <div *nzModalFooter>
      <span>Modal Footer:</span>      
      <button nz-button nzType="default" (click)="updatePurchaseItem()">Update</button>
      <button nz-button nzType="primary" (click)="handleCancel()" [nzLoading]="isConfirmLoading">Cancel</button>
    </div>
  </nz-modal>
  
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>