<div class="contain-inter">
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <div class="site-page-header-ghost-wrapper">
            <nz-page-header >
            <!-- <nz-page-header nzBackIcon [nzGhost]="false"> -->
              <nz-page-header-title>Product 货品</nz-page-header-title>
              <!-- <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle> -->
              <nz-page-header-extra>
                <button nz-button nzType="primary" (click)="init()"  ><i nz-icon nzType="reload"></i>Reload</button>
              </nz-page-header-extra>
              <!-- <nz-page-header-content>
                <nz-descriptions nzSize="small" [nzColumn]="3">
                  <nz-descriptions-item nzTitle="Created" [nzSpan]="1">Lili Qu</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Association" [nzSpan]="1"><a>421421</a></nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Creation Time" [nzSpan]="1">2017-01-10</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Effective Time" [nzSpan]="1">2017-10-10</nz-descriptions-item>
                  <nz-descriptions-item nzTitle="Remarks" [nzSpan]="2">
                    Gonghu Road, Xihu District, Hangzhou, Zhejiang, China
                  </nz-descriptions-item>
                </nz-descriptions>
              </nz-page-header-content> -->
            </nz-page-header>
          </div>

            <!-- <button nz-button nzType="primary" (click)="init()"  ><i nz-icon nzType="reload"></i>Reload</button> -->
        <!-- <h2 style="float:left;"><span>Product 货品</span></h2> -->
        <div style="display: inline;margin-left:250px">                    
            <div style="width:100%;">
                <nz-form-item>
                <nz-form-label nzFor="product_name">Product / 货品:</nz-form-label>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
                    <input   type="text" nz-input placeholder="input search text" id="product_name" [(ngModel)]="product_name" (keyup.enter)="searchProduct()" />
                </nz-input-group>
                <ng-template #suffixButton>
                    <button nzType="primary" nz-button
                            (click)="searchProduct()">Search / 寻找记录</button>
                </ng-template>
                </nz-form-item>
                <nz-form-item style="flex-direction: column;
                flex-wrap: wrap;">
                    <nz-form-label  nzFor="product_type" >Product Type / 货品种类</nz-form-label>
                    <nz-form-control [nzSpan]="12" nzErrorTip="Please select a product type!">
                      <nz-select
                      #productTypeselect
                        id="product_type"
                        [(ngModel)]="product_type"
                        nzPlaceHolder="Select a Product Type"
                        (ngModelChange)="ProductTypeChange($event)"
                      >
                        <nz-option
                            [nzValue]="0" [nzLabel]="Other"></nz-option>
                        <ng-container *ngFor="let p of ProductTypes">
                            <nz-option *ngIf="!ProductTypeLoadSel" 
                            [nzValue]="p.id" [nzLabel]="p.description"></nz-option>
                            
                        </ng-container>
                        <nz-option *ngIf="ProductTypeLoadSel" nzDisabled nzCustomContent>
                            <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            
        </div>
        <div class="divBut" style="float:right">
            <nz-button-group nzSize="small" class="tableBut">
                <button nzType="primary" title="{{tooltipOne[0]}}" nz-button [disabled]="tableEmpty"
                    (click)="printLink()">Print</button>
                <button nzType="primary" title="{{tooltipOne[1]}}" nz-button [disabled]="tableEmpty"
                    (click)="CSVlink()">CSV</button>
                <button nzType="primary" title="{{tooltipOne[2]}}" nz-button [disabled]="tableEmpty"
                    (click)="copyClick()">Copy</button>
            </nz-button-group>
        </div>
    </div>
    <div class="tableShow-area" [style.width]="tableShowWid"  style="height: fit-content;"
        (scroll)="onScroll($event)">
        <!-- <div class="">
            <nz-alert nzBanner nzMessage="Unselect 'Hide Legacy Releases' to check more interoperability." nzCloseable></nz-alert>
        </div> -->
        <div class="tableShow-table">
            <div class="butArea">
                <div [style.height]="'30px'" class="tableTop">
                    <div class="thLeft" style="width:100%">
                        <a class="columns" style="pointer-events: auto;"
                            [ngStyle]="{'cursor':tableEmpty?'not-allowed':''}" nz-dropdown [nzDisabled]="tableEmpty"
                            nzTrigger="click" [nzDropdownMenu]="menu">
                            <span>
                                Hide Columns
                            </span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="dropDownCls">
                                <div class="Down-header">Show Columns</div>
                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="unCheck($event)">
                                    <div nz-row>
                                        <div *ngFor="let i of ShowColumnData" nz-col nzSpan="24"><label nz-checkbox
                                                [nzValue]="i" [nzDisabled]="i.disabled"
                                                [ngModel]="i.checked">{{i.name}}</label></div>
                                    </div>
                                </nz-checkbox-wrapper>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                </div>
                <nz-table style="table-layout: fixed;" #groupingTable id="PurchaseTable" [nzData]="ProductData" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="true" [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            <ng-container *ngFor="let header of headerData" >
                                <!-- <th nzLeft class="firstTh" style="word-wrap: break-word;text-align: center;top: 30px;z-index: 20;position:sticky"
                                [colspan]="1"> -->
                                <th nzLeft class="firstTh" style="text-align: center;top: 29px;z-index: 20;"
                                [colspan]="1">
                                
                                {{header}}
                                </th>    
                            </ng-container>

                            <ng-container *ngFor="let header of headerData_desktop" >
                                <!-- <th nzLeft class="firstTh" style="word-wrap: break-word;text-align: center;top: 30px;z-index: 20;position:sticky"
                                [colspan]="1"> -->
                                <th nzLeft class="firstTh desktop" style="text-align: center;top: 29px;z-index: 20;"
                                [colspan]="1">
                                
                                {{header}}
                                </th>    
                            </ng-container>

                            <th nzLeft class="firstTh" style="text-align: center;top: 29px;z-index: 20;"
                                [colspan]="1">                                
                                Action / 操作
                                </th>  
                        </tr>
                        
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let p of ProductData, let i = index">
                            <tr >
                                <td>
                                    <img style="width:100px;height:100px"  [src]="formatImage(p.image)" />
                                </td> 
                                <td style="width:80px">
                                    {{p.id}}
                                    {{p.code}}
                                </td>   
                                <td style="width:200px">
                                    {{p.name}}
                                </td>   
                                <style>
                                    .listingeditinput{
                                        width:80px;
                                        text-align: end;
                                    }
                                </style>   
                                <td class="trDisplayLabel{{i}}">
                                    {{p.unitCost}}
                                </td>  
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input  class="listingeditinput" (change)="setPrice(i)"  [(ngModel)]="p.unitCost" />
                                </td>   
                                <td class="trDisplayLabel{{i}}">
                                    {{p.stock}}
                                </td>                                       
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input  class="listingeditinput" (change)="calTotalStock(i)"  [(ngModel)]="p.stock" />
                                </td>                                   
                                <td>
                                    {{p.totalStock}}
                                </td>     
                                <td class="trDisplayLabel{{i}}">
                                    {{p.item.sellingPrice}}
                                </td>  
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input  class="listingeditinput"  [(ngModel)]="p.item.sellingPrice" />
                                </td> 
                                <td class="desktop">
                                    {{p.item.price_50}}
                                </td> 
                                <td class="desktop">
                                    {{p.item.price_10}}
                                </td>  
                                <td class="trDisplayLabel{{i}} desktop">
                                    {{p.weight}}
                                </td>    
                                <td class="trEditLabel{{i}} desktop" style="display:none">
                                    <input  class="listingeditinput"  [(ngModel)]="p.weight" />
                                </td>         
                                <td class="trDisplayLabel{{i}} desktop">
                                    {{p.dimension}}
                                </td>  
                                <td class="trEditLabel{{i}} desktop" style="display:none">
                                    <input  class="listingeditinput"  [(ngModel)]="p.dimension" />
                                </td>         
                                <td class="trDisplayLabel{{i}} desktop">
                                    {{p.item.researchPrice}}
                                </td>  
                                <td class="trEditLabel{{i}} desktop" style="display:none">
                                    <input  class="listingeditinput"  [(ngModel)]="p.item.researchPrice" />
                                </td>     
                                <td>
                                    <button nz-button [nzType]="'primary'" (click)="updateProduct(i)" ><span>Update</span></button>
                                </td>
                            </tr>    
                        </ng-container>
                    </tbody>
                    <tfoot  *ngIf="!footer">
                        <tr >
                            <td colspan="13" >
                        <nz-pagination style="text-align: center;" (nzPageIndexChange)="nextProductPage($event)"  [nzPageIndex]="currentPage" [nzTotal]="totalElements" [nzPageSize]="pageSize" nzSimple></nz-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </nz-table>
                <div id="ProductPrint" [style.display]="copyType">
                    <table>
                        <tr>
                            <th> </th>
                            <ng-container *ngFor="let productName of headerName">                                
                                <th *ngFor="let release of headerNameArr[productName]">
                                    {{release.productName}} {{release.version}} <span
                                    *ngIf="!release.techGuided||!release.genGuided">*</span>
                                </th>
                            </ng-container>
                        </tr>
                        <tbody>
                            <tr *ngFor="let p of groupingTable.data">
                                <td>{{p.versionName}}                                    
                                    <span *ngIf="!p.techGuided||!p.genGuided">*</span>
                                </td>
                                <ng-container *ngFor="let release of p.releases,let i = index">
                                    <td *ngIf="release.footnotes==undefined" [style.background]="'#d7d7d7'"></td>
                                    <td *ngIf="release.footnotes!=undefined">
                                        <span>{{tableTdWords[release.status]}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tr></tr>
                    </table>
                    <span>* This is a legacy release. For more information, please refer to https://lifecycle.vmware.com.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>