<!-- <div class="gradient-hr"></div> -->
<div class="ph-footer" >
<!-- style="position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem; " -->
    <!-- <p>Contact us</p> -->
    <div class="fb-links">
      <div class="logo-container" style="display: inline-block;">
        <a href="..." class="nav-link">
          <!-- <img style="background-size: contain;
              height: 19px;" alt="logo" aria-label="Logo" src="../../../images/bw_1.png" /> -->
          <!-- src="../../../images/logo-footer.png" -->
        </a><br />
        <span style="margin-left: 11px;color: #fff;font-size: 12px;">© {{nowtime}} Dynamike, Inc</span>
      </div>
  
      <div class="footer-social-links">
        <div class="footer-social-links-left">          
          <!-- <a href="" title="Your California Privacy Rights" target="_self">Your California Privacy Rights</a> -->       
          <span class="feedback right">
            <a class="feedback-trigger"  href="javascript:void(0);">Feedback</a>
            <!-- <a style="cursor: pointer;" class="ot-sdk-show-settings">Cookie Settings</a> -->
          </span>
        </div>
        <span class="social-footer">
          <a href="" target="_blank">
            <fa-icon [icon]="fontAwesomeIcon.faTwitter"></fa-icon>
          </a>
          <a href="" target="_blank">
            <fa-icon [icon]="fontAwesomeIcon.faFacebookF"></fa-icon>
          </a>
          <a href="" target="_blank">
            <fa-icon [icon]="fontAwesomeIcon.faLinkedinIn"></fa-icon>
          </a>
          <a href="" target="_blank">
            <fa-icon [icon]="fontAwesomeIcon.faYoutube"></fa-icon>
          </a>
        </span>
      </div>
    </div>
  
  </div>