.ph-header {
    background-color: #4d5158;
    height: 50px;
    line-height: 50px;
    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;
    .logo-container {
      // margin-left: 23px;
      margin-left: 68px;
      float: left;
      a {
        text-decoration: none;
        img {
          background-size: contain;
          width: 110px;
          margin-top: -9px;
          margin-right: 17px;
        }
      }
      span {
        font-size: 23px;
        line-height: 28px;
        color: #fff;
        margin-top: 0px;
        font-weight: 300;
        // font-family: "Metropolis";
      }
    }
    .ph-header-actions {
      font-size: 12px;
      float: right;
      color: #fff;
      span {
        padding: 0 20px;
        clr-icon {
          margin: 0px 3px;
          width: 12px;
          height: 12px;
        }
      }
      a {
        color: white;
        text-decoration: none;
      }
      .gap::after {
        position: relative;
        left: 20px;
        display: inline-block;
        width: 1px;
        height: 0.7em;
        background-color: #fff;
        content: "";
      }
    }
  }
  ::ng-deep
    .datagrid-table
    .datagrid-column
    .datagrid-column-title
    .clr-checkbox-wrapper
    input[type="checkbox"]
    + label::after {
    top: 0;
  }
  ::ng-deep .datagrid-footer .clr-checkbox-wrapper input[type="checkbox"] + label::before {
    margin-top: 3px;
  }
  
  .fontStyle {
    color: #ffffff;
    font-size: 20px;
  }
  :host .branding {
    min-width: 1px !important;
    padding-right: 1px;
  }
  
  :host .logo {
    margin: 10px 40px 10px 17px;
  }
  
  :host .logo .name {
    font-size: 16px;
    margin: 10px 0px;
    color: white;
  }
  
  :host .vmware-code-icon {
    margin: 0px;
  }
  
  .banner {
    height: 500px;
    background-color: white;
  }
  
  .test-info {
    margin: auto 30px;
    font-size: 16px;
    font-weight: bold;
  }
  .gradient-hr {
    background-image: url(../../../images/nav-marker.png);
    background-size: contain;
    background-repeat: repeat;
  }
  
  .gradient-hr {
    content: "";
    background: url(../../../images/nav-marker.png) #5a39a0;
    background-repeat: no-repeat;
    height: 8px;
    width: 100%;
    display: block;
    position: relative;
  }
  /*=============================*/
  .topnav {
    margin-left: 3rem;
    float: left;
    clr-dropdown {
      padding: 0 1rem;
      .dropdown-toggle:not(.btn) {
        background: 0 0;
        border: 0;
        cursor: pointer;
        color: #fff;
      }
    }
    .FAQCls{
      display: inline-block;
    }
    .dropdownsel{
      background: #485764;
    }
    a{
      padding: 0 1rem;
      color:#fff;
      text-decoration-line: none;
    }
  }
  