<div class="ph-header">
    <div class="logo-container">
      <a href="..." class="nav-link" style="position: relative;top: 3px;">
        <!-- <img
          alt="VMware Logo"
          aria-label="VMware Logo"
          src="../../../images/vmware_bw_1.png"
        /> -->
        <span>Dynamike POS System</span>
      </a>
    </div>
    <div class="ph-header-actions" style="display:none">
      <span>
      </span>
      <span class="gap"><a href="">Communities</a></span>
      <span><a href="">Store</a></span>
    </div>
  </div>