<div class="contain-inter" style="height: fit-content;">
    <!-- <div class="tableShow-area" [style.width]="tableShowWid" [style.overflow]="tableShowOverflow" -->
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <h2 style="float:left;"><span>E-Shop 网店 导入</span></h2>
        <button nz-button nzType="primary" (click)="init()"  ><i nz-icon nzType="reload"></i>Reload</button>
        <div style="float:right">
            <nz-button-group nzSize="small" class="tableBut" >
                <button nzType="primary" title="{{tooltipOne[0]}}" nz-button
                    (click)="saveOrder()">Save / 保存记录</button>
                    <!-- [disabled]="tableEmpty" -->
            </nz-button-group>
        </div>
    </div>
    <div class="tableShow-area" [style.width]="tableShowWid" style="height: fit-content;"
        (scroll)="onScroll($event)">
        <!-- <div class="">
            <nz-alert nzBanner nzMessage="Unselect 'Hide Legacy Releases' to check more interoperability." nzCloseable></nz-alert>
        </div> -->
        <style>
            .displayText{
                width:180px;
            }
            .inputWidth{
                width:100%;
            }
        </style>
        <div class="tableShow-table">
            <div style="width:100%">
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div class="img-space" style="display:grid; float:right;width:100%" >
                        <div style="display: flex;">
                            <label style="height: 30px;line-height: 30px;margin-right: 13px;">Upload Shopee Excel</label>
                        </div>
                        <div class="form-group">
                            <fieldset class="form-group">
                                <div class="custom-file fileInputProfileWrap">
                                    <input [(ngModel)]="imageFile" type="file" (change)="shopeeUpload($event)" class="fileInputProfile">

                                </div>
                            </fieldset>
                            
                        </div>
                        
                    </div>
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;"> 
                    <div style="width:100%;display:flex">
                        <div class="img-space" style="display:grid; width:50%" >
                            <div style="display: flex;">
                                <label style="height: 30px;line-height: 30px;margin-right: 13px;">Upload Lazada Order Excel</label>
                            </div>
                            <div class="form-group">
                                <fieldset class="form-group">
                                    <div class="custom-file fileInputProfileWrap">
                                        <input [(ngModel)]="imageFile" type="file" (change)="lazadaOrderUpload($event)" class="fileInputProfile">
    
                                    </div>
                                </fieldset>
                                
                            </div>
                            
                        </div>
                        <div class="img-space" style="display:grid; width:50%" >
                            <div style="display: flex;">
                                <label style="height: 30px;line-height: 30px;margin-right: 13px;">Upload Lazada Transaction Excel</label>
                            </div>
                            <div class="form-group">
                                <fieldset class="form-group">
                                    <div class="custom-file fileInputProfileWrap">
                                        <input [(ngModel)]="imageFile" type="file" (change)="lazadaTransactionUpload($event)" class="fileInputProfile">
    
                                    </div>
                                </fieldset>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>