.tabnav-li{
    a{
        text-decoration-line:none;
    }
}
::ng-deep .ant-tabs-bar{
    margin: 0;
}
::ng-deep .ant-tabs-nav-container{
    padding-left: 32px;
}
::ng-deep .ant-tabs-nav .ant-tabs-tab-active {
    color: #1d428a;
    &:hover{
        color: #1d428a;
    }
    &:active{
        color: #1d428a;
        
    }
}