<div class="contain-inter" style="height: fit-content;">
    <!-- <div class="tableShow-area" [style.width]="tableShowWid" [style.overflow]="tableShowOverflow" -->
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <h2 style="float:left;"><span>E-Shop 网店</span></h2>
        <button nz-button nzType="primary" (click)="init()"  ><i nz-icon nzType="reload"></i>Reload</button>
        <div style="float:right">
            <nz-button-group nzSize="small" class="tableBut" >
                <button nzType="primary" title="{{tooltipOne[0]}}" nz-button
                    (click)="saveOrder()">Save / 保存记录</button>
                    <!-- [disabled]="tableEmpty" -->
            </nz-button-group>
        </div>
    </div>
    <div class="tableShow-area" [style.width]="tableShowWid" style="height: fit-content;"
        (scroll)="onScroll($event)">
        <!-- <div class="">
            <nz-alert nzBanner nzMessage="Unselect 'Hide Legacy Releases' to check more interoperability." nzCloseable></nz-alert>
        </div> -->
        <style>
            .displayText{
                width:180px;
            }
            .inputWidth{
                width:100%;
            }
        </style>
        <div class="tableShow-table">
            <div style="width:100%">
                <div style="display: flex;width: 100%;">
                    <div style="width: 50%;">                        
                        <label class="displayText">Date / 日期 :</label>
                        <!-- <label >{{date}}</label> -->
                        <input type="date" [(ngModel)]="date" />
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Provider / 网店 :</label>
                        <nz-select nzShowSearch class="inputWidth"
                        [(ngModel)]="provider_index" (ngModelChange)="ProviderChange($event)"
                            nzPlaceHolder="Select a Provider">
                            
                            <ng-container *ngFor="let p of Provider; let i = index">
                                <nz-option *ngIf="!ProviderLoadSel" [nzValue]="i" [nzLabel]="p.description"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="ProviderLoadSel" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">Order No / 单号码 :</label>
                        <input  [(ngModel)]="orderId" class="inputWidth"/>
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Total Payment / 总额:</label>
                        <div style="float:right;padding-right:5px">RM<input [(ngModel)]="paymentDue" /></div>
                    </div>
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">Payment Credit / 付款:</label>
                        <div style="float:right;padding-right:5px">RM<input [(ngModel)]="paymentCredit"  (change)="amountChange($event)" /></div>
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Payment Fee / 费用 :</label>
                        <div style="float:right;padding-right:5px">RM<input [(ngModel)]="paymentFees" (change)="amountChange($event)" /></div>
                    </div>
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;">                    
                    <div style="width:50%">
                        <label class="displayText">Shipping Fee / 运输费用 :</label>
                        <div style="float:right;padding-right:5px">RM<input [(ngModel)]="shippingFees" (change)="amountChange($event)"  /></div>
                    </div>
                    <div style="width:50%;display:flex">
                        <label class="displayText">Free Shipping / 免运输 :</label>
                        <input [(ngModel)]="freeShipping" (change)="freeShippingChange($event)" type="checkbox"/>
                    </div>
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:100%">
                        <label class="displayText" style="vertical-align: top;">Particular / 内容 :</label>
                        <textarea rows="5" class="inputWidth"  [(ngModel)]="remarks" class="inputWidth"></textarea>
                    </div>
                </div>
            </div>
            <div >                
                <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
                    <h3 style="float:left;"><span>Client / 客人</span></h3>
                    <div style="float:right">
                        <nz-button-group nzSize="small" class="tableBut" >
                            <button nzType="primary" title="{{tooltipOne[0]}}" nz-button 
                                (click)="saveClient()">Save</button>
                        </nz-button-group>
                    </div>
                </div>
                <div style="display: flex;width: 100%;">
                    <div style="width: 100%;">
                        <label class="displayText">Client / 客人 ：</label>
                        <nz-select nzShowSearch class="inputWidth"
                        [(ngModel)]="client_index" (ngModelChange)="ClientChange($event)"
                            nzPlaceHolder="Select a Client">
                            <ng-container *ngFor="let p of Client, let i =index">
                                <nz-option *ngIf="!ClientLoadSel" [nzValue]="i" [nzLabel]="p.name"></nz-option>
                            </ng-container>
                            <nz-option *ngIf="ClientLoadSel" nzDisabled nzCustomContent>
                                <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                            </nz-option>
                        </nz-select>
                    </div>
                </div>
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">Client / 客人名：</label>
                        <input class="inputWidth" [(ngModel)]="client_name"/>
                    </div>
                    <div style="width:50%">
                        <label class="displayText">Address / 客人地址：</label>
                        <textarea rows="5" class="inputWidth" [(ngModel)]="client_address"></textarea>
                    </div>
                </div>  
                <div style="display: flex;width: 100%;margin-top: 10px;">
                    <div style="width:50%">
                        <label class="displayText">Contact No. / 电话号码：</label>
                        <input  class="inputWidth" [(ngModel)]="client_contact"/>
                    </div>  
                    <div style="width:50%">
                        <label class="displayText">Shipping Address / 运输地址：</label>
                        <textarea rows="5" class="inputWidth"  [(ngModel)]="client_shippingAddress"></textarea>
                    </div>
                </div>   
                <div style="display: flex;width: 100%;margin-top: 10px;">              
                    <div style="width:50%;display:flex">
                        <label class="displayText">SG Client / 新加坡 :</label>
                        <input [(ngModel)]="freeShipping" (change)="freeShippingChange($event)" type="checkbox"/>
                    </div>
                </div>           
            </div>
            
            <div class="butArea" style="border: 2px solid grey;  margin-top: 10px;">
                <div style="padding:5px" style="border-bottom: 2px solid grey;padding: 10px;">
                    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
                        <h3 style="float:left;"><span>Product List / 货单</span></h3>
                        <div style="float:right">
                            <nz-button-group nzSize="small" class="tableBut" >
                                <button nzType="primary" title="{{tooltipOne[0]}}" nz-button 
                                    (click)="addItems(item_code,item_quantity)">Add Item</button>
                                    <!-- [disabled]="tableEmpty" -->
                            </nz-button-group>
                        </div>
                    </div>
                    <div style="display: flex;width: 100%;">
                        <div style="width: 50%;">
                            <label class="displayText">Product Code / 货名 :</label>
                            <input  [(ngModel)]="item_code" />
                            <!-- <nz-button-group nzSize="small" class="tableBut" >
                                <button nzType="primary" title="" nz-button
                                    (click)="searchProduct()">Search / 寻找记录</button>
                            </nz-button-group> -->

                            <nz-select nzShowSearch class="inputWidth"
                                [(ngModel)]="item_index"
                                (ngModelChange)="ItemChange($event)"                    
                                nzPlaceHolder="Select a Solution">
                                <!-- [(ngModel)]="item_index"  -->
                                <ng-container *ngFor="let p of Items; let i = index">Items
                                    <nz-option  *ngIf="!ProductLoadSel" [nzValue]="i" [nzLabel]="p.code + '-' + p.name"></nz-option>
                                </ng-container>
                                
                                <nz-option *ngIf="ProductLoadSel" nzDisabled nzCustomContent>
                                    <i nz-icon nzType="loading" class="loading-icon"></i> Loading Data...
                                </nz-option>
                            </nz-select>
                        </div>
                        <!-- <div style="width:50%">
                            <label class="displayText">Product Name / 货名 :</label>
                            <label>{{item_name}}</label>
                        </div> -->
                        <div style="width:50%">
                            <label class="displayText">Quantity / 数量 ：</label>
                            <input  class="inputWidth" [(ngModel)]="item_quantity" />
                        </div>
                        <div >
                            
                        </div>
                    </div>
                </div>
                <div class="divBut">
                    <nz-button-group nzSize="small" class="tableBut">
                        <button nzType="primary" title="{{tooltipOne[0]}}" nz-button [disabled]="tableEmpty"
                            (click)="printLink()">Print</button>
                        <button nzType="primary" title="{{tooltipOne[1]}}" nz-button [disabled]="tableEmpty"
                            (click)="CSVlink()">CSV</button>
                        <button nzType="primary" title="{{tooltipOne[2]}}" nz-button [disabled]="tableEmpty"
                            (click)="copyClick()">Copy</button>
                    </nz-button-group>
                </div>
                <div [style.height]="'30px'" class="tableTop">
                    <div class="thLeft" style="width:100%">
                        <a class="columns" style="pointer-events: auto;"
                            [ngStyle]="{'cursor':tableEmpty?'not-allowed':''}" nz-dropdown [nzDisabled]="tableEmpty"
                            nzTrigger="click" [nzDropdownMenu]="menu">
                            <span>
                                Hide Columns
                            </span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="dropDownCls">
                                <div class="Down-header">Show Columns</div>
                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="unCheck($event)">
                                    <div nz-row>
                                        <div *ngFor="let i of ShowColumnData" nz-col nzSpan="24"><label nz-checkbox
                                                [nzValue]="i" [nzDisabled]="i.disabled"
                                                [ngModel]="i.checked">{{i.name}}</label></div>
                                    </div>
                                </nz-checkbox-wrapper>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                </div>
                <nz-table #groupingTable id="PurchaseTable" [nzData]="productListData" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="false" [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            <ng-container *ngFor="let p of order_product">
                                <th nzLeft class="firstTh" style="text-align: center;top: 54px;z-index: 20;"
                                    [colspan]="1">
                                    {{p}}
                                </th>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let release of columnData">
                                <th nz-tooltip [nzTooltipTitle]="titleTemplate" class="" nzLeft
                                    style="text-align: center;top: 94px;z-index: 20;font-size: 12px;">
                                    {{release.version}}
                                    <span [ngClass]="{'techGuided' : !release.techGuided }"></span>
                                    <span [ngClass]="{'genGuided': !release.genGuided }"></span>

                                </th>
                                <ng-template #titleTemplate>
                                    <span>{{release.version}}</span><br>
                                    <span>GA : {{formatTime(release.gaDate)}}</span><br>
                                    <span *ngIf="release.rnLink"><a href="{{release.rnLink}}" target="_blank">Release
                                            Notes</a><br></span>
                                    <span *ngIf="release.dLink"><a href="{{release.dLink}}" target="_blank">Download
                                            Page</a><br></span>
                                </ng-template>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>

                        
                        <ng-container *ngFor="let p of order_items.order_item,let i = index">
                            <tr >
                                <td>
                                    {{p.itemId}} - {{p.itemName}}
                                </td>  
                                <td>
                                    {{p.quantity}}
                                </td> 
                                <td>
                                    <button nzType="primary" nz-button 
                                    (click)="deleteItem(i)">Delete</button>
                                    
                                </td>
                                   
                            </tr>    
                        </ng-container>

                        <!-- <tr *ngFor="let p of groupingTable.data,let i=index" 
                        [ngClass]="displayStatus(p.status,p.footnotes,p)">
                            <td nzLeft nz-tooltip [nzTooltipTitle]="titleTemplate" style="color: rgba(0,0,0,.85);">
                                {{p.versionName==null?p.releases[0].productName +" "+ p.version:p.versionName}}
                                <span [ngClass]="{'techGuided' : !p.techGuided }"></span>
                                <span [ngClass]="{'genGuided': !p.genGuided }"></span>
                            </td>
                            <ng-template #titleTemplate>
                                <span>{{p.version}}</span><br>
                                <span>GA : {{formatTime(p.gaDate)}}</span><br>
                                <span *ngIf="p.rnLink"><a href="{{p.rnLink}}" target="_blank">Release
                                        Notes</a><br></span>
                                <span *ngIf="p.dLink"><a href="{{p.dLink}}" target="_blank">Download
                                        Page</a><br></span>
                            </ng-template>
                            <ng-container *ngFor="let release of p.releases,let i = index">
                                <td *ngIf="release.footnotes==undefined" [style.background]="'#d7d7d7'"></td>
                                <td *ngIf="release.footnotes!=undefined&&release.footnotes==''"
                                    (mouseover)="tdMouseOver(i)" (mouseout)="tdMouseOut()"
                                    [ngStyle]="{'background-color':tdSelected==i?'#fafafa':''}"
                                    [ngClass]="displayStatus(release.status,release.footnotes,release)">
                                </td>
                                <td *ngIf="release.footnotes!=undefined&&release.footnotes!=''" nz-tooltip
                                    [nzTooltipTitle]="tdInfo" (mouseover)="tdMouseOver(i)" (mouseout)="tdMouseOut()"
                                    [ngStyle]="{'background-color':tdSelected==i?'#fafafa':''}"
                                    [ngClass]="displayStatus(release.status,release.footnotes,release)">
                                </td>
                                <ng-template #tdInfo>
                                    <span [innerHTML]="release.footnotes"></span><br>
                                </ng-template>
                            </ng-container>
                        </tr> -->

                    </tbody>
                </nz-table>
                <div id="PurchasePrint" [style.display]="copyType">
                    <table>
                        <tr>
                            <th> </th>
                            <ng-container *ngFor="let productName of headerName">                                
                                <th *ngFor="let release of headerNameArr[productName]">
                                    {{release.productName}} {{release.version}} <span
                                    *ngIf="!release.techGuided||!release.genGuided">*</span>
                                </th>
                            </ng-container>
                        </tr>
                        <tbody>
                            <tr *ngFor="let p of groupingTable.data">
                                <td>{{p.versionName}}                                    
                                    <span *ngIf="!p.techGuided||!p.genGuided">*</span>
                                </td>
                                <ng-container *ngFor="let release of p.releases,let i = index">
                                    <td *ngIf="release.footnotes==undefined" [style.background]="'#d7d7d7'"></td>
                                    <td *ngIf="release.footnotes!=undefined">
                                        <span>{{tableTdWords[release.status]}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tr></tr>
                    </table>
                    <span>* This is a legacy release. For more information, please refer to https://lifecycle.vmware.com.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>