<div class="contain-inter" >
    <div style="width:100%;display:inline-block;border-bottom: orangered 1px solid;">
        <h2 style="float:left;"><span>Client 客户</span></h2>
        <div style="display: inline;margin-left:150px">                 
            <button nz-button nzType="primary" (click)="init()"  ><i nz-icon nzType="reload"></i>Reload</button>
        </div>
        <div class="divBut" style="float:right">
            <nz-button-group nzSize="small" class="tableBut">
                <button nzType="primary" title="{{tooltipOne[0]}}" nz-button [disabled]="tableEmpty"
                    (click)="printLink()">Print</button>
                <button nzType="primary" title="{{tooltipOne[1]}}" nz-button [disabled]="tableEmpty"
                    (click)="CSVlink()">CSV</button>
                <button nzType="primary" title="{{tooltipOne[2]}}" nz-button [disabled]="tableEmpty"
                    (click)="copyClick()">Copy</button>
            </nz-button-group>
        </div>
    </div>
    <div class="tableShow-area" [style.width]="tableShowWid" [style.overflow]="tableShowOverflow"
        (scroll)="onScroll($event)">
        <!-- <div class="">
            <nz-alert nzBanner nzMessage="Unselect 'Hide Legacy Releases' to check more interoperability." nzCloseable></nz-alert>
        </div> -->
        <div class="tableShow-table">
            <div class="butArea" style="width:100%">
                <div [style.height]="'30px'" class="tableTop">
                    <div class="thLeft" style="width:100%">
                        <a class="columns" style="pointer-events: auto;"
                            [ngStyle]="{'cursor':tableEmpty?'not-allowed':''}" nz-dropdown [nzDisabled]="tableEmpty"
                            nzTrigger="click" [nzDropdownMenu]="menu">
                            <span>
                                Hide Columns
                            </span>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="dropDownCls">
                                <div class="Down-header">Show Columns</div>
                                <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="unCheck($event)">
                                    <div nz-row>
                                        <div *ngFor="let i of ShowColumnData" nz-col nzSpan="24"><label nz-checkbox
                                                [nzValue]="i" [nzDisabled]="i.disabled"
                                                [ngModel]="i.checked">{{i.name}}</label></div>
                                    </div>
                                </nz-checkbox-wrapper>
                            </div>
                        </nz-dropdown-menu>
                    </div>
                </div>
                <nz-table #groupingTable id="PurchaseTable" [nzData]="Clients" nzBordered nzSize="small"
                    nzHideOnSinglePage="true" [nzFrontPagination]="false" [nzNoResult]="emptyTemplate">
                    <ng-template #emptyTemplate>
                        <tr>
                            <nz-empty *ngIf="NoResultId=='No Data'" nzNotFoundImage="simple"></nz-empty>
                            <nz-empty *ngIf="NoResultId=='No Result'" nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                [nzNotFoundContent]="contentTpl">
                                <ng-template #contentTpl>
                                    <span> {{NoResultId}} </span>
                                </ng-template>
                            </nz-empty>
                        </tr>
                    </ng-template>
                    <thead>
                        <tr>
                            
                            <ng-container *ngFor="let p of header">
                                <th nzLeft class="firstTh" style="text-align: center;top: 29px;z-index: 20;"
                                    [colspan]="1">
                                    {{p}}
                                </th>
                            </ng-container>
                        </tr>
                        <tr>
                            <ng-container *ngFor="let release of columnData">
                                <th nz-tooltip [nzTooltipTitle]="titleTemplate" class="" nzLeft
                                    style="text-align: center;top: 94px;z-index: 20;font-size: 12px;">
                                    {{release.version}}
                                    <span [ngClass]="{'techGuided' : !release.techGuided }"></span>
                                    <span [ngClass]="{'genGuided': !release.genGuided }"></span>

                                </th>
                                <ng-template #titleTemplate>
                                    <span>{{release.version}}</span><br>
                                    <span>GA : {{formatTime(release.gaDate)}}</span><br>
                                    <span *ngIf="release.rnLink"><a href="{{release.rnLink}}" target="_blank">Release
                                            Notes</a><br></span>
                                    <span *ngIf="release.dLink"><a href="{{release.dLink}}" target="_blank">Download
                                            Page</a><br></span>
                                </ng-template>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let p of Clients, let i = index">
                            <tr >
                                <td>
                                    <button nz-button nzType="primary" (click)="deleteClient(i)"  ><i nz-icon nzType="delete"></i></button>
                                </td>
                                <td>
                                    {{p.id}}
                                </td>   
                                <style>
                                    .listingeditinput{
                                        width:100px;
                                        text-align: end;
                                    }
                                </style>                              
                                <td class="trDisplayLabel{{i}}">
                                    {{p.name}}
                                </td>   
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input  class="listingeditinput" [(ngModel)]="p.name" />
                                </td>  
                                <td class="trDisplayLabel{{i}}">
                                    {{p.contactNo}}
                                </td>  
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input class="listingeditinput" [(ngModel)]="p.contactNo" />
                                </td> 
                                <td class="trDisplayLabel{{i}}">
                                    {{p.billingAddress}}
                                </td>  
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input  class="listingeditinput" [(ngModel)]="p.billingAddress" />
                                </td> 
                                <td class="trDisplayLabel{{i}}">
                                    {{p.shippingAddress}}
                                </td>  
                                <td class="trEditLabel{{i}}" style="display:none">
                                    <input  class="listingeditinput" [(ngModel)]="p.shippingAddress" />
                                </td>  
                                <td>
                                    <button nz-button [nzType]="'primary'" (click)="update(i)"><span>Update</span></button>
                                </td>     
                            </tr>    
                        </ng-container>

                    </tbody>
                    <tfoot  *ngIf="!footer">
                        <tr >
                            <td colspan="7" >
                                <nz-pagination style="text-align: center;" (nzPageIndexChange)="nextProductPage($event)"  [nzPageIndex]="currentPage" [nzTotal]="totalElements" [nzPageSize]="pageSize" nzSimple></nz-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </nz-table>
                <div id="PurchasePrint" [style.display]="copyType">
                    <table>
                        <tr>
                            <th> </th>
                            <ng-container *ngFor="let productName of headerName">                                
                                <th *ngFor="let release of headerNameArr[productName]">
                                    {{release.productName}} {{release.version}} <span
                                    *ngIf="!release.techGuided||!release.genGuided">*</span>
                                </th>
                            </ng-container>
                        </tr>
                        <tbody>
                            <tr *ngFor="let p of groupingTable.data">
                                <td>{{p.versionName}}                                    
                                    <span *ngIf="!p.techGuided||!p.genGuided">*</span>
                                </td>
                                <ng-container *ngFor="let release of p.releases,let i = index">
                                    <td *ngIf="release.footnotes==undefined" [style.background]="'#d7d7d7'"></td>
                                    <td *ngIf="release.footnotes!=undefined">
                                        <span>{{tableTdWords[release.status]}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                        <tr></tr>
                    </table>
                    <span>* This is a legacy release. For more information, please refer to https://lifecycle.vmware.com.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-loading [show]="isVisible" [config]="{ backdropBorderRadius: '3px'}" [template]="customLoadingTemplate">
</ngx-loading>