.dropDownCls {
    // font-family: Metropolis, "Avenir Next", "Helvetica Neue", Arial, sans-serif;
    border-radius: 0.125rem;
    padding: 1.75rem;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(116, 116, 116, 0.25);
    width: 12rem;
    flex-direction: column;
    z-index: 600;
    min-width: 350px;
    .Down-header {
        font-weight: 400;
        font-size: 1.5rem;
        padding-bottom: 1.5rem;
        line-height: 2rem;
        .ant-checkbox + span {
            font-weight: 500;
        }
    }
    .Down-bottom {
        color: #575757;
        opacity: 0.4;
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        font-size: 1rem;
        margin-top: 1rem;
        a {
            text-decoration: none;
        }
    }
}
.contain-inter {
    height:auto;
    // height: calc(100vh - 210px);
    // height: calc(100vh - 142px);
    // overflow-y: auto;
    // overflow-x: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    display:flow-root;height: fit-content;;padding: 2.5rem;
    .tableShow-area {
        // background-color: #f8f8f8;
        // ::ng-deep .ant-table-body,::ng-deep .ant-table-content{
        //     max-height: 70vh;
        //     overflow: scroll;
        // }
        // font-family: Metropolis;
        padding: 0 1%;
        // width:100vw;
        height: fit-content;
        min-height: 63vh;
        width:100%;
        .butArea{
            // width: max-content;
            min-width:100%;
            background-color: #fff;
            position: sticky;
            top: 0;
            z-index: 200;
        }
        .divBut{
            position: sticky;
            top:0;
            background-color: #fff;
            width:100%;
            z-index: 200;
        }
        .tableBut {
            background-color: #fff;
            position: sticky;
            top: 0;
            left:-17px;
            // left:300px;
            z-index: 200;
        }
        .tableTop {
            position: sticky;
            top: 24px;
            z-index: 200;
        }
        .thLeft {
            font-size: 12px;
            display: inline-block;
            top: 0px;
            z-index: 201;
            width: 50%;
            height: 30px;
            text-align: left;
            line-height: 30px;
            padding-left: 3px;
            background: #22343c;
            color: #fff;
            .columns{
                display: inline-block;
                width: 20px;
                height: 20px;
                white-space: nowrap;
                margin-right: 5px;
                position: relative;
                top: 5px;
                background-position: calc(50% + 3px) center;
                background-repeat: no-repeat;
                background-image: url("../../../images/columns.svg");
                span{
                    position: relative;
                    left: 24px;
                    top: -4px;
                }
            }
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .thRight {
            font-size: 12px;
            display: inline-block;
            width: 50%;
            height: 30px;
            text-align: right;
            line-height: 30px;
            padding-right: 10px;
            background: #22343c;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        .tableShow-header {
            margin-top: 10px;
            display: flex;
            position: sticky;
            left:0;
        }
        .checkArea {
            padding: 15px;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.25);
            margin-right: 20px;
            span {
                // font-family: Metropolis;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: -0.1px;
                color: #22343c;
            }
        }
        .tableShow-table {
            margin-top: 1rem;
            ul {
                display: inline-block;
                justify-content: space-between;
                list-style: none;
                // width: 50%;
                margin-right: 10px;
                font-size: 10px;
                padding: 0;
            }
        }
    }
    div {
        // border: solid 1px #d7d7d7;
    }
}

.firstTh{
    font-size: 12px;
    font-weight: 600;   
}

.secondTh{
    font-size: 14px!important;
    font-weight: 600;
}

::ng-deep .ant-tag {
    white-space: pre-wrap;
    // word-break: break-all;
}

.productTR {
    position: sticky;
    top: 80px;
    z-index: 10;
    background-color: rgba(34, 52, 60);
    color: #fff;
    &:hover {
        color: rgba(0, 0, 0);
    }
}
.prod-left-fix {
    position: sticky;
    left: 0;
    width: 30%;
}
.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
}

.dynamic-delete-button:hover {
    color: #777;
}

.passenger-input {
    width: 60%;
    margin-right: 8px;
}

[nz-form] {
    max-width: 600px;
}

.add-button {
    width: 60%;
}

td:first-child {
    // width: 330px;
    font-size: 12px;
    left: 300px;
}

td {
    min-width: 49px;
}

button {
    background: #0079b8;
    color: #fff;
    // font-family: Metropolis;
    font-size: 12px !important;
    line-height: 14px;
}
/*common*/
::ng-deep th {
    white-space: nowrap;
    height: 40px;
    text-align: center;
}
thead.tr:first-child{
    position: sticky;
    position: -webkit-sticky;
    top:0;
}
td:first-child{
    position: sticky;
    left:-17px;
    // width: 330px;
    font-size: 12px;
    // left: 300px;
    // left: 1px;
}

th:first-child {
    font-size: 12px;
    // left: 0px!important;
}
::ng-deep a {
    color: #1890ff;
    text-decoration: none;
}
h2 {
    text-align: center;
    margin: 0 0 5px;
    font-size: 22px;
    // color: #387c2c;
    font-weight: normal;
}
h3 {
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
p {
    // font-family: "Metropolis", "proxima-nova", "Arial", sans-serif;
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0;
}
#PurchasePrint {
    display: none;
    border: solid 1px #d7d7d7;
    th:first-child {
        width: 200px;
    }
    td:not(:last-child),
    th:not(:last-child) {
        border-right: solid 1px #d7d7d7;
    }
    tr:not(:last-child) {
        border-bottom: solid 1px #d7d7d7;
    }
    td:not(:first-child) {
        text-align: center;
    }
    td:first-child {
        font-weight: 700;
    }
}


.summary{
    display:block;
    min-width:100%;
    /* style="min-width: 100%;display:flex" */
}
.detail_btn{
    display:grid;
}
.detail_report{
    display:none;
}
/* [class*="col-"] {
    width: 100%;
} */
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .summary{
        display:flex;
    }                
    .detail_btn{
        display:none;
    }
    .detail_report{
        display:block
        /* display:none; */
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .summary{
        display:flex;
    }
    
    
    
}